.error {
  &-entry {
    display: flex;

    padding: 8px;
    margin-bottom: 8px;

    background-color: #FEEDE9;
    border-radius: 5px;
  }

  &-icon {
    width: 32px;
    margin-right: 8px;

    fill: #F24822;
  }

  &-info {
    flex: 1;
  }

  &-name {
    cursor: default;
    outline: 0;

    &[role="link"] {
      cursor: zoom-in;
    }
  }
}
