:root {
  --error-red: #FEEDE9;
}

.error {
  &-entry {
    display: flex;

    padding: 8px;
    margin-bottom: 8px;

    background-color: var(--error-red);
    border-radius: 5px;
  }

  &-icon {
    width: 32px;
    margin-right: 8px;

    fill: #F24822;
  }

  &-info {
    flex: 1;
  }

  &-name {
    cursor: zoom-in;

    &.no-cursor {
      user-select: none;
      cursor: default;
    }
  }

  &-context {
    user-select: none;
  }
}
