.error {
  &-entry {
    display: flex;

    padding: 6px 8px 8px;
    margin-bottom: 8px;

    background-color: #FEF6F4;
    border: 1px solid #F24822;
    border-radius: 5px;
  }

  &-icon {
    width: 32px;
    margin: 1.5px 12px 0 3px;

    fill: #F24822;
  }

  &-info {
    flex: 1;
  }

  &-name {
    cursor: default;
    outline: 0;

    &[role="link"] {
      cursor: zoom-in;
    }
  }
}
