:root {
  --header-border: 1px solid #E5E5E5;
}
.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  background-color: #FFFFFF;

  &-layout {
    display: flex;
    justify-content: space-between;

    height: 40px;
    border-bottom: var(--header-border);
  }

  &-button {
    &-entry {
      display: inline-flex;
      justify-content: center;

      height: 100%;
      padding: 0 16px 1px;

      background: transparent;
      font: inherit;
      cursor: pointer;

      &--disabled {
        opacity: 0.3;
        cursor: not-allowed;
      }

      &--open {
        position: relative;

        background-color: #FFFFFF;
        border-left: var(--header-border);
        cursor: default;

        &:after {
          position: absolute;
          bottom: -1px;
          left: 0;

          height: 1px;
          width: 100%;

          background-color: #FFFFFF;
          content: '';
        }
      }
    }

    &-icon {
      width: 16px;
      margin-right: 4px;
    }
  }

  &--open {
    background-color: #F0F0F0;
  }
}
